#container{
  width: 770px;
  text-align: justify;
  background-color: #fff;
  margin: auto;
}
body{
  background-color: #cccccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
}
p:first-letter{
  color: blue;
  font-weight: bold;
  font-size: 38px;
  font-family: 'Times New Roman';
}
#content{
  width: 570px;
  height: 240px;
  float: left;
  background-color: #FFF;
}
#nav{
  width: 200px;
  height: 240px;
  float: left;
  background-color: #e7e7e7;
}
#header{
  height: 60px;
  background-color: #b0b0b0;
}
h1{
  padding: 25px 0 0 30px;
}
h3{
  padding: 0 0 0 12px;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  background: url(../images/rol.gif) no-repeat left bottom;
  text-indent: 40px;
}
 a:hover{
  background-position: right bottom;
  color: white;
  font-weight: bold;
}
p{
  padding: 0 9px 0 11px;
}

